body {
  background-color: #f0f8ff; /* Light blue */
  color: #333333; /* Text color */
}

.navbar {
  background-color: #004080 !important; /* Custom navy */
  
}

footer {
  background-color: #00264d !important;
  color: white;
}

a {
  color: #0099ff;
}
